html {
  font-size: 62.5%;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  background: url('piano-notes-1862855.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  font-size: 2rem;
  color: black;
	font-weight: bold;
}

.keys {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0rem 2rem 7rem 2rem;
  margin: 2rem;
  width: 5rem;
  border: .2rem black solid;
  background-color: white;
  box-shadow: 0rem 0.2rem 1.5rem .1rem black;
  transition: all 0.2s;
}

.playing {
  transform: scale(0.9);
  background: lightgrey;
  box-shadow: 0 0 2rem 1rem;
  border: 0.2rem black solid;
}

kbd {
  font: inherit;
  color: white;
  background: linear-gradient(180deg, rgb(46, 46, 46), black);
  padding-top: 13rem;
  margin-bottom: 10rem;
}

span {
  font-style: italic;
  color:slateblue;
}

h1 {
  margin: 10rem 0 8rem 0;
  font-family: Montserrat;
  color: #ffc600;
  text-shadow: 0 0 0.5rem black;
  background: rgba(0,0,0,.3);
  width: 100%;
	text-align: center;
	font-weight: thin;
}

h1 span {
  color:black;
}

h2 {
	font-family: 'Poppins', sans-serif;
	color: white;
	text-shadow: 0 0 5px black;
	text-align: center;
	animation: banner 2s linear infinite;
}

@keyframes banner{
	0% {color: white;}
	50% {color: black;}
}

@media (max-width: 900px) {
  .keys {flex-wrap: wrap;}
  .key {padding: 2rem;}
  kbd {padding: 2rem 0;
  margin: 0}
}